.DS_Store
references/blast_dbs*
references/swissprot/SwissProt-Annot-*.tsv
references/*tgz
references/*fasta
references/*/*faa
references/*gff3
references/cnidarian_orthologs/broccoli*/dir_step4/orthologous_pairs.txt
